.pokemon-details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.pokemon-details-container h1 {
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  margin: 0;
  padding: 1rem;
}

.pokemon-details-container .basic-information-container,
.pokemon-details-container .abilities-container,
.pokemon-details-container .movements-container,
.pokemon-details-container .stats-container,
.pokemon-details-container .types-container,
.pokemon-details-container .grid {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem;
  max-width: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.pokemon-details-container .basic-information-container h2,
.pokemon-details-container .abilities-container h2,
.pokemon-details-container .movements-container h2,
.pokemon-details-container .stats-container h2,
.pokemon-details-container .types-container h2,
.pokemon-details-container .grid h2 {
  font-size: 20px;
  width: 100%;
  margin: 0;
  padding: 1rem;
}

.pokemon-details-container .basic-information-container .item-container,
.pokemon-details-container .abilities-container .item-container,
.pokemon-details-container .movements-container .item-container,
.pokemon-details-container .stats-container .item-container,
.pokemon-details-container .types-container .item-container,
.pokemon-details-container .grid .item-container {
  padding: 0 1rem;
}

.pokemon-details-container .basic-information-container .item-container h3,
.pokemon-details-container .abilities-container .item-container h3,
.pokemon-details-container .movements-container .item-container h3,
.pokemon-details-container .stats-container .item-container h3,
.pokemon-details-container .types-container .item-container h3,
.pokemon-details-container .grid .item-container h3 {
  font-size: 19px;
}

.pokemon-details-container .basic-information-container .item-container p,
.pokemon-details-container .basic-information-container .item-container button,
.pokemon-details-container .abilities-container .item-container p,
.pokemon-details-container .abilities-container .item-container button,
.pokemon-details-container .movements-container .item-container p,
.pokemon-details-container .movements-container .item-container button,
.pokemon-details-container .stats-container .item-container p,
.pokemon-details-container .stats-container .item-container button,
.pokemon-details-container .types-container .item-container p,
.pokemon-details-container .types-container .item-container button,
.pokemon-details-container .grid .item-container p,
.pokemon-details-container .grid .item-container button {
  font-size: 18px;
}

.pokemon-details-container .basic-information-container .item-container button,
.pokemon-details-container .abilities-container .item-container button,
.pokemon-details-container .movements-container .item-container button,
.pokemon-details-container .stats-container .item-container button,
.pokemon-details-container .types-container .item-container button,
.pokemon-details-container .grid .item-container button {
  margin: 10px;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.pokemon-details-container .basic-information-container .item-container button:hover,
.pokemon-details-container .abilities-container .item-container button:hover,
.pokemon-details-container .movements-container .item-container button:hover,
.pokemon-details-container .stats-container .item-container button:hover,
.pokemon-details-container .types-container .item-container button:hover,
.pokemon-details-container .grid .item-container button:hover {
  color: white;
  background-color: black;
}

.pokemon-details-container .basic-information-container .type-details-container .container,
.pokemon-details-container .abilities-container .type-details-container .container,
.pokemon-details-container .movements-container .type-details-container .container,
.pokemon-details-container .stats-container .type-details-container .container,
.pokemon-details-container .types-container .type-details-container .container,
.pokemon-details-container .grid .type-details-container .container {
  padding: 0 1rem;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokemon-details-container .basic-information-container .type-details-container .container h3,
.pokemon-details-container .abilities-container .type-details-container .container h3,
.pokemon-details-container .movements-container .type-details-container .container h3,
.pokemon-details-container .stats-container .type-details-container .container h3,
.pokemon-details-container .types-container .type-details-container .container h3,
.pokemon-details-container .grid .type-details-container .container h3 {
  width: 100%;
  text-align: center;
}

.pokemon-details-container .basic-information-container .type-details-container .container div,
.pokemon-details-container .abilities-container .type-details-container .container div,
.pokemon-details-container .movements-container .type-details-container .container div,
.pokemon-details-container .stats-container .type-details-container .container div,
.pokemon-details-container .types-container .type-details-container .container div,
.pokemon-details-container .grid .type-details-container .container div {
  margin: 10px;
}

.pokemon-details-container .basic-information-container.w-5,
.pokemon-details-container .abilities-container.w-5,
.pokemon-details-container .movements-container.w-5,
.pokemon-details-container .stats-container.w-5,
.pokemon-details-container .types-container.w-5,
.pokemon-details-container .grid.w-5 {
  max-width: 500px;
}

.pokemon-details-container .basic-information-container.w-100,
.pokemon-details-container .abilities-container.w-100,
.pokemon-details-container .movements-container.w-100,
.pokemon-details-container .stats-container.w-100,
.pokemon-details-container .types-container.w-100,
.pokemon-details-container .grid.w-100 {
  max-width: 100%;
}

.pokemon-details-container .basic-information-container.center,
.pokemon-details-container .abilities-container.center,
.pokemon-details-container .movements-container.center,
.pokemon-details-container .stats-container.center,
.pokemon-details-container .types-container.center,
.pokemon-details-container .grid.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokemon-details-container .filter-slider {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  border: none;
  border: 1px solid white;
  cursor: pointer;
  color: white;
  padding: 1rem;
  font-family: pokemon;
  font-size: 20px;
}
/*# sourceMappingURL=details.css.map */