.pokemon-details-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  h1 {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0;
    padding: 1rem;
  }

  .basic-information-container,
  .abilities-container,
  .movements-container,
  .stats-container,
  .types-container,
  .grid {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    max-width: 400px;
    height: fit-content;
    h2 {
      font-size: 20px;
      width: 100%;
      margin: 0;
      padding: 1rem;
    }

    .item-container {
      padding: 0 1rem;
      h3 {
        font-size: 19px;
      }
      p,
      button {
        font-size: 18px;
      }

      button {
        margin: 10px;
        border: 1px solid black;
        padding: 5px 10px;
        border-radius: 5px;
        transition: all 0.5s ease;

        &:hover {
          color: white;
          background-color: black;
        }
      }
    }

    .type-details-container {
      .container {
        padding: 0 1rem;
        border: 2px solid black;
        border-radius: 10px;
        margin: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        h3 {
          width: 100%;
          text-align: center;
        }

        div {
          margin: 10px;
        }
      }
    }

    &.w-5 {
      max-width: 500px;
    }

    &.w-100 {
      max-width: 100%;
    }

    &.center {
      justify-content: center;
    }
  }

  .filter-slider {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    border: none;
    border: 1px solid white;
    cursor: pointer;
    color: white;
    padding: 1rem;
    font-family: pokemon;
    font-size: 20px;
  }
}
