@font-face {
  font-family: pokemon;
  src: url("../fonts/pixel.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: pokemon;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  cursor: pointer;
}
button {
  background-color: transparent;
  border: none;
  font-family: pokemon;
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
