.loading-container {
  position: absolute;
  background-color: rgba($color: #000000, $alpha: 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    color: white;
    font-size: 30px;
  }
}
