.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background-color: black;
}

.menu-container .preview-pokemon-container {
  max-width: 300px;
}

.menu-container .preview-pokemon-container .title {
  color: white;
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
}

.menu-container .preview-pokemon-container .card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.menu-container .preview-pokemon-container .card-container .card {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: white;
  font-size: 16px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 300px;
  padding: 1rem;
  background-color: transparent;
  border: none;
  font-family: pokemon;
  cursor: pointer;
}

.menu-container .preview-pokemon-container .card-container .card:hover {
  background-color: white;
  color: black;
}

.menu-container .preview-pokemon-container .card-container .card:focus {
  outline: none;
}

.menu-container .preview-pokemon-container .pagination {
  border-top: 1px solid white;
  padding: 2rem;
}

.menu-container .preview-pokemon-container .pagination .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  background-color: white;
}

.menu-container .preview-pokemon-container .pagination .bar .item {
  padding: 1rem;
  font-size: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: transparent;
  border: none;
  font-family: pokemon;
  cursor: pointer;
}

.menu-container .preview-pokemon-container .pagination .bar .item:hover {
  background-color: black;
  color: white;
}

.menu-container.show-menu {
  position: static;
  opacity: 1;
  pointer-events: initial;
}
/*# sourceMappingURL=menu.css.map */