$background: black;
.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
  background-color: $background;

  .preview-pokemon-container {
    max-width: 300px;

    .title {
      color: white;
      text-align: center;
      border-bottom: 1px solid white;
      padding-bottom: 1rem;
    }
    .card-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;

      .card {
        transition: all 0.5s ease;
        color: white;
        font-size: 16px;
        text-align: center;
        box-sizing: border-box;
        max-width: 300px;
        padding: 1rem;
        background-color: transparent;
        border: none;
        font-family: pokemon;
        cursor: pointer;

        &:hover {
          background-color: white;
          color: $background;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .pagination {
      border-top: 1px solid white;
      padding: 2rem;

      .bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-radius: 5px;
        background-color: white;

        .item {
          padding: 1rem;
          font-size: 15px;
          transition: all 0.5s ease;
          background: transparent;
          border: none;
          font-family: pokemon;
          cursor: pointer;

          &:hover {
            background-color: $background;
            color: white;
          }
        }
      }
    }
  }
  &.show-menu {
    position: static;
    opacity: 1;
    pointer-events: initial;
  }
}
